.dataTable{
    position: fixed;
    top: 30%;
    left: 30%;
    transform: translate(-30%, -30%);
    margin: 0 auto;
}


html,body{
    width: 100%;
    height: 100%;
    margin:0;
    background-image:url("#{resource['/exercise_css/seeMovies.jpg']}");
    background-size:cover;

}
.title{
    background-color: brown;
    color: white;
    font-family: Calibri;
    font-size: 30px;
    position: center;
    text-align: center;
}
.myFont{
    font-family: Calibri;
    color:white;
    font-size: 20px;
}
.aButton{
    width: 200px;
    height: 30px;
}
.menu{

}
